/*
 * style.css
 * author: 洪建强
 */

#LearnFlex {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #fff;
  background: #222;
}

header { display: none; }

footer {
  flex: 0.2;
}

#wrap {
  display: flex;
  flex: 1;
}

main {
  display: flex;
  flex: 1;
}

.left, .right {
  flex: 0.3;
  padding: 10px;
}

.box {
  margin: 16px;
  padding: 4px;

  background-color: #e7e7e7;
  object-fit: contain;

  box-shadow:
    inset 0 5px white,
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7,
    inset -5px 0 #d7d7d7;

  border-radius: 10%;
}

.item {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

select {
  color: #000;
  width: 220px;
  height: 30px;
}

option {
  font-size: 14px;
  padding: 3px;
}

#wrap ul {
  padding: 0;
}

#wrap li {
  list-style-type: none;
  padding-bottom: 10px;
}

footer ul {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

footer li {
  list-style-type: none;
  flex: 0 0 25%;
  height: 80px;
}

.left input {
  color: #000;
  width: 59px;
}

.right input {
  color: #000;
  width: 215px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}
