<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flex布局学习 - Powered by 洪建强</title>
  <link rel="stylesheet" href="css/normalize.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
  <div id="LearnFlex">
  <header>...header...选择了</header>

  <div id="wrap">
    <div class="left">
      <h2>修改 .box 容器属性</h2>

      <ul>
        <li v-for="attrs, key in boxCSS">
          <h3>{{key}}:</h3>
          <select @change="selectedBoxCSS" :name="key">
            <option selected value="">请选择</option>
            <option v-for="attr in attrs" :value="attr" :selected="boxSelectStyle[key] === attr">{{attr}}</option>
          </select>
        </li>

        <li>
          <span>width:</span><input v-model="boxSelectStyle['width']">
          <span>height:</span><input v-model="boxSelectStyle['height']">
        </li>
      </ul>
    </div>

    <main style="justify-content: center; align-items: center;">
      <div class="box" :style="boxSelectStyle">
        <span class="item" v-for="i in itemsArray.length" :style="itemsArray[i-1]">{{i}}</span>
      </div>
    </main>

    <div class="right">
      <h2>修改 .item 项目属性</h2>

      <ul>
        <li>
          <span>数量：</span><input type="number" min="0" @click="setItemsNum" :value="itemsArray.length">
        </li>

        <li>
          <h3>请选择指定的 .item</h3>
          <select v-model="itemsChooseStatus" @change="changeItemsIndex">
            <option value="0">全选</option>
            <option v-for="i in itemsArray.length" :value="i">{{i}}</option>
          </select>
        </li>

        <li v-for="attrs, key in itemCSS">
          <h3>{{key}}:</h3>

          <select v-if="typeof(itemCSS[key]) == 'object'" @change="selectedItemCSS" :name="key">
            <option selected value="">请选择</option>
            <option
              v-for="attr in attrs"
              :value="attr"
              :selected="(itemsChooseStatus>0)?(itemsArray[itemsChooseStatus-1][key] == attr):(false)">
              {{attr}}
            </option>
          </select>

          <input v-if="typeof(itemCSS[key]) == 'number'"
            @change="selectedItemCSS"
            :value="(itemsChooseStatus>0)?(itemsArray[itemsChooseStatus-1][key]):(itemCSS[key])"
            :name="key"
            :min="(key == 'flex-shrink')?0:''"
            type="number">

          <input v-if="typeof(itemCSS[key]) == 'string'"
            @change="selectedItemCSS"
            :value="(itemsChooseStatus>0)?(itemsArray[itemsChooseStatus-1][key]):(itemCSS[key])"
            :name="key">
        </li>
      </ul>
    </div>
  </div>

  <footer>...footer...</footer>
  </div>

  <script src="js/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
